@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	outline:none; 
}

body {
	background:#f1f1f1;
	--webkit-font-smoothing:antialiased; /* For view best font */
	font:400 14px Roboto, sans-serif;
}

input, button {
	font:400 18px Roboto, sans-serif;
}		

button {
	cursor:pointer;
}